<!DOCTYPE html>
<html lang="en" ng-app="Participantangular">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OpportunityHub</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="dist/css/style.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="angularjs/participantProfileAngular.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
    <!-- ------------------- Nav Partial ------------------------->
    <% include ../partials/nav-loggedin-npo %>

        <div id="page-wrapper" ng-controller="participantEditController" data-ng-init="init()">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header cus-page-header">{{name}}</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                          Volunteer Profile
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs">
                                        <i class="fa fa-pencil fa-fw"></i>Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          <form role="form">
                              <div class="form-group">
                                  <div class="form-group">
                                    <span><label>Name</label>
                                    <input class="form-control" placeholder="Enter text" ng-model="name" value="{{name}}"></span>
                                  </div>

                                  <div class="form-group">
                                    <label>Email ID</label>
                                    <input class="form-control" placeholder="Enter text" ng-model="email" value="{{email}}">
                                  </div>

                                  <div class="row cus-row-margin">
                                    <div class="col-lg-6">
                                      <div class="form-group">
                                        <label>Password</label>
                                        <input class="form-control" placeholder="Enter text" type="password"  type="password" ng-model="password" value="{{password}}">
                                      </div>
                                    </div>
                                    <div class="col-lg-6">
                                      <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input class="form-control" placeholder="Enter text" type="password">
                                      </div>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" rows="3" ng-model="description" value="{{description}}"></textarea>
                                  </div>

                                  <div class="form-group">
                                    <label>Skill Set</label>
                                    <textarea class="form-control" rows="3" ng-model="skillSet" value="{{skillSet}}"></textarea>
                                  </div>

                                  <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" rows="3" ng-model="address" value="{{address}}"></textarea>
                                  </div>

                                  <div class="form-group">
                                    <label>Website</label>
                                    <input class="form-control" placeholder="Enter text" ng-model="website" value="{{website}}>
                                  </div>

                                  <div class="form-group">
                                    <label>Profile Picture</label>
                                    <input class="form-control" placeholder="Enter text">
                                  </div>

                              </div>
                              <button type="submit" class="btn btn-primary pull-right" ng-click="doEditParticipant()">Submit</button>
                          </form>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Modals -->
    <!-- Login Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" class=
    "modal fade" id="modal-container-990751" role="dialog">
    <div class="modal-dialog">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="login-panel panel panel-default">
                          <div class="panel-heading">
                              <h3 class="panel-title">Please Log In</h3>
                          </div>
                            <div class="panel-body">
                                <form role="form">
                                    <fieldset>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                            </label>
                                        </div>
                                        <!-- Change this to a button or input when using this as a form -->
                                        <a href="index.html" class="btn btn-lg btn-success btn-block">Log In</a>
                                        <hr>
                                        <span>Don't have account?</span>
                                        <a href="index.html" class="btn btn-outline btn-success btn-block">Sign Up</a>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
      </div>
    </div>

    <!-- Sign Up Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" class=
    "modal fade" id="modal-container-990750" role="dialog">
    <div class="modal-dialog">
      <div class="row">
        <div class="col-md-12">
            <div class="login-panel panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Please Sign Up</h3>
              </div>
                <div class="panel-body">
                          <form role="form">
                            <div class="form-group">
                                <label>Who are you?</label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="npo" checked>A Non-Profit Organization
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="user">A Volunteer
                                </label>
                            </div>
                            <div> <!-- div for angualr hide-show -->
                              <div class="form-group">
                                  <label>Organisation Name</label>
                                  <input class="form-control" placeholder="Enter text">
                                  <label>Address</label>
                                  <input class="form-control" placeholder="Enter text">
                                  <label>Website</label>
                                  <input class="form-control" placeholder="Enter text">
                                  <label>Description</label>
                                  <textarea class="form-control" rows="3"></textarea>
                              </div>
                              <button type="submit" class="btn btn-primary pull-right">Submit</button>
                            </div>

                            <div> <!-- div for angualr hide-show -- Sign Up for Volunteer -->
                              <div class="form-group">
                                  <label>Email ID</label>
                                  <input class="form-control" placeholder="Enter text">
                                  <label>Password</label>
                                  <input class="form-control" placeholder="Enter text" type="password">
                                  <label>Confirm Password</label>
                                  <input class="form-control" placeholder="Enter text" type="password">
                              </div>
                              <button type="submit" class="btn btn-primary pull-right">Submit</button>
                            </div>
                          </form>
                  </div>
                  <!-- /.row (nested) -->
      </div>
    </div>







    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="vendor/raphael/raphael.min.js"></script>
    <script src="vendor/morrisjs/morris.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="dist/js/sb-admin-2.js"></script>

</body>

</html>
