<!DOCTYPE html>
<html lang="en" ng-app="projectAngular">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OpportunityHub</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="dist/css/style.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="vendor/morrisjs/morris.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="angularjs/projectAngular.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-cloak>

    <div id="wrapper">
      <!-- ------------------- Nav Partial ------------------------->
      <% include ./partials/nav-no-login %>
            <div class="row cus-row-margin">
              <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="input-group custom-search-form">
                              <input type="text" class="form-control" placeholder="Search Projects...">
                              <span class="input-group-btn">
                              <button class="btn btn-default" type="button">
                                  <i class="fa fa-search"></i>
                              </button>
                          </span>
                          </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Projects
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" ng-controller="ProjectController">

                          <!-- List of the Projects -->
                          <div class="row">
                            <div class="col-md-12">
                              <div class="media" ng-repeat="project in projects">
                                <a href="#" class="pull-left"><img alt="Bootstrap Media Preview" src="http://lorempixel.com/64/64/" class="media-object" /></a>
                                <div class="media-body" >
                                  <h4 class="media-heading">
                                    <a class="cus-link" href="#">{{project.PROJECT_TITLE}}</a>
                                  </h4> {{project.PROJECT_DESC}}
                                  <div class="media">
                                    <div class="media-body">
                                      <h5 class="media-heading">
                                        <div>
                                            <div class="row">
                                              <div class="col-md-12" >

                                                 <span class="label label-default">Angular JS</span>
                                                <span class="label label-default">Node JS</span>
                                                <span class="label label-default">Web Development</span>
                                              </div>
                                            </div>
                                        </div>
                                      </h5>
                                      <div> </div>
                                      <div class="row cus-row-margin"></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row cus-row-margin"><hr></div>
                              </div>
                            </div>
                          </div>


                          <!-- ./List of the Projects End -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-2"></div>
            </div>
            <!-- /.row -->


    </div>
    <!-- /#wrapper -->

    <!-- Modals -->
    <!-- Login Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" class=
    "modal fade" id="modal-container-990751" role="dialog" ng-controller="LoginController">
    <div class="modal-dialog">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="login-panel panel panel-default">
                          <div class="panel-heading">
                              <h3 class="panel-title">Please Log In</h3>
                          </div>
                            <div class="panel-body">
                                <form role="form">
                                    <fieldset>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="E-mail" name="email" type="email" ng-model="email" autofocus>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Password" name="password" type="password" ng-model = "password" value="">
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                            </label>
                                        </div>
                                        <button class="btn btn-primary btn-block" ng-click="doLogin()">Log In</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
      </div>
    </div>

    <!-- Sign Up Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modal-container-990750" role="dialog" ng-controller="SignUpController">
    <div class="modal-dialog">
      <div class="row">
        <div class="col-md-12">
            <div class="login-panel panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Please Sign Up</h3>
              </div>
                <div class="panel-body">
                          <form role="form">
                            <div class="form-group">
                                <label>Who are you?</label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosInline" ng-model="user.type" id="optionsRadiosInline1" value="user" checked>A Volunteer
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosInline" ng-model="user.type" id="optionsRadiosInline2" value="npo">A Non-Profit Organization
                                </label>
                            </div>

                              <div class="form-group">
                                    <label>Name</label>
                                  <input class="form-control" placeholder="Enter text" ng-model = "name">
                                  <label>Email ID</label>
                                  <input class="form-control" placeholder="Enter text" ng-model = "email">
                                  <label>Password</label>
                                  <input class="form-control" placeholder="Enter text" type="password" ng-model="password">
                                  <label>Confirm Password</label>
                                  <input class="form-control" placeholder="Enter text" type="password" ng-model="confirmpwd">
                              </div>
                              <button type="submit" class="btn btn-primary pull-right" ng-click="doSignUp()">Submit</button>
                              <div id="hideError" ng-hide = "hideError">Passwords doesn't match.</div>
                          </form>
                  </div>
                  <!-- /.row (nested) -->
                </div>
        </div>
      </div>
    </div>
  </div>


    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="vendor/raphael/raphael.min.js"></script>
    <script src="vendor/morrisjs/morris.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="dist/js/sb-admin-2.js"></script>

</body>

</html>
