<!DOCTYPE html>
<html ng-app="pop">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
  </head>
  <body>
  	<form action="/edit/12" method="POST">
  		<p> name</p>
  		<input type="text" id="name" name="name"/>
  		<p> Address</p>
  		<input type="text" id="address" name="address"/>
  		<p> Website</p>
  		<input type="text" id="website" name="website"/>
  		<p> Description</p>
  		<input type="text" id="description" name="description"/>
  		<p> Image</p>
  		<input type="text" id="image" name="image"/>
  		<p> Video Link</p>
  		<input type="text" id="video" name="video"/>
  		<input type="submit" />
  	</form>
  </body>
  </html>